
  body {
    background-color: #DADDFC;
  }

  hr {
    background-color: #DADDFC;
    border-style: dotted none none none;
    width: 5%;
    border-width: 5px;
    border-color: white;
  }

  img {
    height: 200px;
    width: 200px;
  }

  p {
    width: 70%;
  }

  div {
    border-radius: 100px;
    padding: 50px;
    margin: 20px;
    background-color: #CCD1E4;
  }
  h1 {
    color: #FFEFEF;
  }
  h3 {
    color: #7C99AC;
  }
